@model WebApplication1.Models.Admin
@{
    ViewBag.Title = "LoginAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <h2>ĐĂNG NHẬP</h2>
    <hr />
    @using (Html.BeginForm("LoginAcount", "Admins"))
    {
        @Html.AntiForgeryToken()
        <table>
            <tr>
                <td style="padding: 5px 0 5px 0; font-size: 18px;">Tên đăng nhập </td>
            </tr>
            <tr>
                <td>@Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-input", @required = "required" } })</td>
                <td>@Html.ValidationMessageFor(model => model.username)</td>
            </tr>
            <tr>
                <td style="padding: 10px 0 5px 0; font-size: 18px;">Mật khẩu</td>
            </tr>

            <tr>
                <td>@Html.PasswordFor(model => model.phone, new { @class = "form-input" })</td>
                <td>@Html.ValidationMessageFor(model => model.phone)</td>
                @if (ViewBag.ErrorInfo == null)
                {
                    <p>@ViewBag.ErrorInfo</p>
                }
            </tr>
            <tr>
                <td style="padding-top: 20px;"><input type="submit" value="Đăng nhập" class="btn btn-primary" /></td>
            </tr>
        </table>
    }
</div>

