@model WebApplication1.Models.Provider
@{
    ViewBag.Title = "CreateProvider";

}

<style>
    /* CSS code for styling the form */
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        padding: 0;
        background-color: #f2f2f2;
    }

    form {
        background-color: #fff;
        padding: 50px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        width: 450px; /* Thay đổi kích thước form theo ý muốn */
        margin: 0 auto; /* Căn giữa form */
    }

    h2 {
        text-align: center;
        margin-bottom: 20px; /* Thêm khoảng cách dưới tiêu đề */
    }

    label {
        display: block;
        margin-bottom: 10px;
    }

    input,
    textarea {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    .text-danger {
        color: red;
    }

    .btn-submit {
        background-color: #007bff; /* Màu xanh */
        color: #fff;
        padding: 5px 10px; /* Thay đổi kích thước */
        border: none;
        width: 100%;
        cursor: pointer;
    }


    .text-center {
        text-align: center;
        padding-top: 10px;
    }
</style>
<div class="text-center">
    <h2>Nhà cung cấp</h2>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="text-center">
            <h2> </h2>
        </div>
        <div class="text-center">
            <h2> </h2>
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="text-center">
            <h2> </h2>
        </div>
        <div class="text-center">
            <h2> </h2>
        </div>
        <div class="text-center">
            <h2>Thêm nhà cung cấp</h2>
        </div>
        <!--<div class="form-group">
            <label>ID Provider:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.idProvider, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.idProvider, "", new { @class = "text-danger" })-->
        @* Hiển thị giá trị newIdProvider *@
        <!--<p class="text-info">New ID Provider: @ViewBag.NewIdProvider</p>
            </div>
        </div>-->


        <div class="form-group">
            <label for="provider-name">Tên Nhà cung cấp:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.nameProvider, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nameProvider, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="provider-address">Địa chỉ:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.locationProvider, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.locationProvider, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="provider-phone">Số điện thoại:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.phoneProvider, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.phoneProvider, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="provider-email">Email:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.emailProvider, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.emailProvider, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="products-services">Sản phẩm và dịch vụ:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.productsandservicesProvider, new { @class = "form-control", rows = "4", cols = "50", required = "required" })
                @Html.ValidationMessageFor(model => model.productsandservicesProvider, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="products-services">Chính sách và điều khoản:</label>

            <div class="col-md-10">
                @Html.TextAreaFor(model => model.policiesandtermsProvider, new { @class = "form-control", rows = "4", cols = "50", required = "required" })
                @Html.ValidationMessageFor(model => model.policiesandtermsProvider, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="text-center">
            <input type="submit" value="Thêm" class="btn-submit" />
        </div>



    </div>
}
<div class="text-center">
    <p>
        @Html.ActionLink("Quay lại danh sách nhà cung cấp", "Index")
    </p>
</div>


