@model WebApplication1.Models.Product

@{
    ViewBag.Title = "Thông tin sản phẩm";
}

<link href="~/Content/CSS/style2.css" rel="stylesheet" />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="link">
        @Html.ActionLink("Trở về danh sách sản phẩm", "Index")
    </div>
    <div>
        <h1>Thông tin Sản phẩm</h1>
    </div>
    <div class="content">
        <div class="loadImg">
            <img src="~/Content/images/@Model.imageProduct" width="200" />
        </div>
        <div class="info">
            <table>
                
                <tr>
                    <td>Tên sản phẩm:</td>
                    <td>
                        @Html.DisplayFor(model => model.nameProduct)
                    </td>
                </tr>
                <tr>
                    <td>Loại sản phẩm:</td>
                    <td>
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.idCategory)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Tình trạng:</td>
                    <td>
                        @Html.DisplayFor(model => model.status)
                    </td>
                </tr>
                <tr>
                    <td>Số lượng:</td>
                    <td>
                        @Html.DisplayFor(model => model.quantity)
                    </td>
                </tr>
                <tr>
                    <td>Đơn giá:</td>
                    <td>
                        @Html.DisplayFor(model => model.price)
                    </td>
                </tr>

                <tr>
                    <td>Nhà Cung Cấp:</td>
                    <td>
                        @Html.DisplayFor(model => model.idProvider)
                    </td>
                </tr>
            </table>
        </div>
        <div class="form-group">
            <a href="@Url.Action("Edit", "Products", new { id = Model.idProduct })" class="btn btn-primary btn-edit">Sửa</a>
        </div>
    </div>
}



