@model WebApplication1.Models.Product

@{
    ViewBag.Title = "Sửa thông tin sản phẩm";
}

<link href="~/Content/CSS/style2.css" rel="stylesheet" />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="link">
        @Html.ActionLink("Trở về danh sách sản phẩm", "Index")
    </div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.idProduct)
    <div>
        <h1>Sửa thông tin sản phẩm</h1>
    </div>
    <div class="content">
        <div class="loadImg">
            <img src="~/Content/images/@Model.imageProduct" width="200" height="200" style="object-fit: contain" />
            @Html.TextBoxFor(model => model.imageProduct, null, new { type = "file", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.imageProduct, "", new { @class = "text-danger" })
        </div>
        <div class="info">
            <table>
                <tr>
                    <td>Tên sản phẩm:</td>
                    <td>
                        @Html.EditorFor(model => model.nameProduct, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.nameProduct, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>Loại sản phẩm:</td>
                    <td>
                        <div class="col-md-10">
                            @Html.DropDownList("idCategory", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.idCategory, "", new { @class = "text-danger" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Tình trạng:</td>
                    <td>
                        @Html.EditorFor(model => model.status, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>Số lượng:</td>
                    <td>
                        @Html.EditorFor(model => model.quantity, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.quantity, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>Đơn giá:</td>
                    <td>
                        @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>Nhà Cung Cấp:</td>
                    <td>
                        @Html.DropDownList("idProvider", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.idProvider, "", new { @class = "text-danger" })
                    </td>
                </tr>
            </table>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu thông tin" class="btn_add" />
            </div>
        </div>
    </div>
}
